<a href="https://colab.research.google.com/github/Nikhil4474/Class105PythonBasics/blob/main/Class_105_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is my first python program")

'''
bah
bah
bah
dlsk
'''

This is my first python program

In [ ]:
# a = 100
# a

number=100
raining = True
float1 = 42.4
welcome = "Hello and welcome"
list1 = [1,2,3,4,5,6,7,8,9]
dictionary1 = {"day":1,"day":2, "day":3}
tuple1 = (1,2,3)
set1 = {"Apple", "Banana", "Orange"}
print(type(number))
print(type(raining))
print(type(float1))
print(type(welcome))
print(type(list1))
print(type(dictionary1))
print(type(tuple1))
print(type(set1))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [ ]:
# a = 1
# if(a):
#   print("True")
def convert_to_faren(celsius):
  f=(9/5*celsius)+32
  return f

c=float(input("Enter the temp in celsius: "))
convert_to_faren(c)

Enter the temp in celsius: 70

158.0

In [ ]:
def add(x,y):
  return x+y

def sub(x,y):
  return x-y

def mult(x,y):
  return x*y

def div(x,y):
  return x/y

def rem(x,y):
  return x%y

def calculate(option):
  if(option == "1" or "2" or "3" or "4" or "5"):
    number1 = float(input("Enter the first number: "))
    number2 = float(input("Enter the second number: "))
    if(option == "1"):
      print("sum", number1,"+", number2, "=", add(number1,number2))
    elif(option=="2"):
      print("difference", number1,"-", number2, "=", sub(number1,number2))
    elif(option=="3"):
      print("product", number1,"*", number2, "=", mult(number1,number2))
    elif(option=="4"):
      print("quotient", number1,"/", number2, "=", div(number1,number2))
    elif(option=="5"):
      print("remainder", number1,"%", number2, "=", rem(number1,number2))

print("Chose the operation from below: ")
print("1.Add")
print("2.Sub")
print("3.Mult")
print("4.Div")
print("5.Rem")
option= input("Enter the number of the operation: ")
print("\n")
calculate(option)

Chose the operation from below:
1.Add
2.Sub
3.Mult
4.Div
5.Rem
Enter the number of the operation: 5


Enter the first number: 3
Enter the second number: 2
remainder 3.0 % 2.0 = 1.0

In [ ]:
a = 6
b = 3
print(a*b)

18